extends ./templates/teacherTemplate.pug

block content
	.container-fluid
		.row
			div(class="col-md-6 col-md-offset-3")
				if msg
					div(class="alert alert-warning" role="alert") 
						p #{msg}
		if user.studentInfoCache
			.row
				div(class="col-xs-12")
					table(class="table table-hover")
						thead
							tr
								th Name
						tbody
							each student in user.studentInfoCache
								tr
									td= student.FirstName + ' ' + student.LastName
		else
			div(class="col-md-6 col-md-offset-3")
				div(class="alert alert-warning" role="alert") 
						p It appears that you do not have a class scheduled to you in KinderTracker. If this is not correct, please email integration@aurora-schools.org and let them know of this problem.		